<section class="contact_upper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7113.443995047877!2d75.8365805348877!3d26.94402640000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db13d25f59a21%3A0x2e809d5c8bd76f30!2sRamgarh%20Mod%20Bus%20Stand!5e0!3m2!1sen!2sin!4v1651339921254!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<section class="contact_second flex">
    <div class="left">
        <!--Section: Contact v.2-->
        <section>

            <!--Section heading-->
            <h2 class="h1-responsive font-bold text-3xl text-green-500 text-center my-4">Contact us</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto text-xl italic mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                a matter of hours to help you.</p>

            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="/contactUs" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="name" class="">Your name</label>
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="email" class="">Your email</label>
                                    <input type="text" id="email" name="email" class="form-control">
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="subject" class="">Subject</label>
                                    <input type="text" id="subject" name="subject" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <label for="message">Your message</label>
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left mt-5">
                        <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                    </div>
                    
                </div>
                <!--Grid column-->

               

            </div>

        </section>
<!--Section: Contact v.2-->
    </div>
    <div class="right " style="border-left: 1px solid grey;">
            <div>
                <h1 class="font-bold text-2xl text-blue-500 text-center mt-2">Waiting for the Right Time? <br>Your Competitors Aren't.....</h1>
                <p class="mt-5 italic text-xl text-center">The more time you spend scrolling through agencies, the more revenue you’re leaving on the table. Speak to the Bluleadz inbound specialists now for a free consultation, where our team will collaboratively set goals with you and build a customized strategy. This roadmap will show you what growth looks like and how you will get to where you want to be</p>
            </div>
            <!--Grid column-->
            <div>
                <div class="flex mt-5">
                    <div class="mx-auto mt-4"><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Jaipur,Rajsthan,India</p>
                    </div>

                    <div class="mx-auto"><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+91 9782952535</p>
                    </div>

                    <div class="mx-auto"><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>Farm@gmail.com</p>
                    </div>
                </div>
            </div>
            <!--Grid column-->
            <div class="mt-3" style="border-top: 1px solid grey;">
                <h1 class="font-bold text-lg"> Working Timing</h1>
                <h1>MONDAY-SATURDAY</h1>
                <h1>8:00 AM to 8:00 PM</h1>
            </div>
    </div>
</section>