<section class="Home_section container mx-auto text-white ">
    <h1 class="home_main_txt font-bold text-green-300">REAL QUALITY</h1>
    <h6 class="text-4xl">farm-grown products</h6>
    <p class="text-xl">we can call ourselves the innovators in agricultural buisness.And these are not just words. They have solid background .you can find real proof reading about our compny.</p>
    <div class="mt-5">
        <button class="btn mx-5"><a href="login">LogIn</a></button>
        <button class="btn mx-5"><a href="#">About Us</a></button>
    </div>
    
</section>
