<%-include('include/_headres')%>
<body>
    
    <!-- <img id="main_bg" src="https://images.unsplash.com/photo-1563514227147-6d2ff665a6a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt=""> -->
    <%-include('include/_nav')%>

    <%- body%>
    
    <%-include('include/_footer')%>
    <script src="/javascripts/app.js"></script>
</body>
</html>