$btn_color : rgb(79, 202, 126);
$primary:#Fe5F1E;
$primary-hoverF: #b23301;
$secondary: #F8F8F8;
$pure : #fff;
$dark:#000000;
$gray:#ccc;
$background:rgba(37, 33, 33, 0.521);
$text_green :rgb(45, 192, 25);
