body {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 5px 8px;
  background: #4fca7e;
  text-decoration: none;
  color: white;
}

.btn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 4px 4px;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: rgba(128, 128, 128, 0.082);
}

#navbar::before {
  content: "";
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

#navbar ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#navbar ul li a:hover {
  background-color: rgba(128, 128, 128, 0.233);
  padding: 0px 6px;
  border-radius: 8px;
  color: #2dc019;
}

#navbar .logo_txt {
  font-size: 2rem;
}

#navbar #logo {
  font-family: 'Square Peg', cursive;
}

#navbar #logo img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.Home_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 200px;
}

.Home_section .home_main_txt {
  font-family: 'Square Peg', cursive;
  font-size: 3rem;
}

.login form {
  background-color: rgba(128, 128, 128, 0.233);
}

.homeProduct_upper {
  height: 400px;
  width: 500px;
}

.homeProduct_upper .homeProduct_box {
  height: 350px;
  width: 350px;
  margin: 5px 5px;
  background-color: rgba(128, 128, 128, 0.233);
  border-radius: 15px;
}

.homeProduct_upper .homeProduct_box img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.homeProduct_upper .homeProduct_box button {
  background-color: #4fca7e;
}

.homeProduct_second {
  height: 150px;
  width: 500;
  margin-top: 5px;
  text-align: center;
  background-color: black;
  opacity: 0.6;
  color: white;
}

.tools_upper::before {
  background-color: white;
  content: "";
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.tools_upper .left, .tools_upper .right {
  height: 350px;
  width: 500px;
  text-align: center;
}

.tools_upper .left img, .tools_upper .right img {
  height: 350px;
  width: 500px;
}

.tools_upper .left p, .tools_upper .right p {
  font-family: 'Square Peg', cursive;
  color: #2dc019;
}

.tools_products .product {
  height: 310px;
  width: 210px;
}

.tools_products .product img {
  height: 190px;
  width: 210px;
}

.tools_products .product .name {
  border-top: 1px solid gray;
  border-radius: 2px;
}

.vegetables_upper {
  margin-top: 3.72rem;
  height: 500px;
  width: 100%;
}

.vegetables_upper img {
  height: 500px;
  width: 100%;
}

.vegetables_second {
  background-image: -webkit-gradient(linear, left top, right top, from(#ddf7c5), color-stop(#ecefea), to(#ddf7c5));
  background-image: linear-gradient(to right, #ddf7c5, #ecefea, #ddf7c5);
  text-align: center;
}

.seeds_upper {
  margin-top: 3.72rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#ddf7c5), color-stop(#ecefea), to(#ddf7c5));
  background-image: linear-gradient(to right, #ddf7c5, #ecefea, #ddf7c5);
  font-family: 'Crimson text', serif;
}
/*# sourceMappingURL=style.css.map */