<section class="homeProduct_upper container flex text-center justify-between mt-16">
    <div class="flex mx-5">
        <a href="/product/tools"><div class="homeProduct_box flex flex-column items-center mx-3">
            <img src="/images/farmtools.jpg" alt="">
            <h1 class="font-bold mt-3 text-xl"><a href="/product/tools">Product Tools</a></h1>
            <p class="text-xl">Kraft Seeds Gate Garden Spectacular Gardening Tools Set with Heavy Gardening Cut Tool </p>
            <a href="/product/tools"> <button class="btn mt-2">Buy Now</button></a>
        </div></a>
        <a href="/product/vegetables"><div class="homeProduct_box flex flex-column items-center mx-3">
            <img src="https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/643188-gettyimages-153946385-ca1ccfaad9be44325afc434b305adc0d.jpg" alt="">
            <h1 class="font-bold mt-3 text-xl"><a href="/product/vegetables">Fruits And Vegetables</a></h1>
            <p class="text-xl">Fruits and vegetables contain important vitamins, minerals and plant chemicals. They also contain fibre.  </p>
            <a href="/product/vegetables"> <button class="btn mt-2">Buy Now</button></a>
        </div></a>
        <a href="/product/seeds"><div class="homeProduct_box flex flex-column items-center mx-3">
            <img src="https://img.krishijagran.com/media/36582/seeds.png" alt="">
            <h1 class="font-bold mt-3 text-xl"><a href="/product/seeds">Product Tools</a></h1>
            <p class="text-xl">Kraft Seeds Gate Garden Spectacular Gardening Tools Set with Heavy Gardening Cut Tool </p>
            <a href="/product/seeds"> <button class="btn mt-2">Buy Now</button></a>
        </div></a>
    </div>
    
    
    
</section>

<section class="homeProduct_second container">
    
    <h6 class="text-6xl" style="font-family: 'Lobster', cursive;">The Farm Products</h6>
    <p>With More Than 15 Years Of Experience We Can Proudly Say That We Are One Of The Best In Business, A Trusted Supplier For More Than 1000 Companies</p>
</section>